body{
    text-align: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.col-md-8{
    background-color: #313131;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}


.topper{
    color: white;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    padding: 20px;
    padding-top: 45px;
    padding-bottom: 0px;
    text-decoration: none;
    display: flex;
    flex: center;
    display: inline-block;
}


a:hover{
    color: lightgray;
    text-decoration: none;
}


/* ///////////////////////////////////////////////////// */

#hero-img{
    height: 700px;
    width: 100%;
    background-color: #313131;
    border-top: thin solid lightgray;
}

/* ///////////////////////////////////////////////////// */

.ham{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}



#menuToggle{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 33px;
  height: 1px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
/* Control the height here */
#menu{
  position: absolute;
  width: 300px;
  height: 10000px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

.first{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 100;
    padding-top: 250px;
}

.second{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: 800;
}

.third{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 200;
}

.btn-primary{
    border-radius: 24px;
    font-weight: 100;
    font-size: 12px;
    margin-top: 10px;
    padding: 12px 22px;
    padding-left: 32px;
    padding-right: 32px;
}

.btn-default{
    border-radius: 24px;
    font-weight: 100;
    font-size: 12px;
    margin-top: 10px;
    background: none;
    padding: 12px 22px;
    color: white;
}

.hlight-1{
    font-size: 18px;
    color: #313131;
    font-weight: 900;
    padding-top: 20px;
}

.filler{
    padding-left: 100px;
    padding-right: 100px;
    color: #999999;

}

.learn{
    color: #227597;
    font-size: 11px;
}

.top{
    background-color: lightgray;
    color: black;
    font-weight: 900;
    padding: 40px;

}
 .col-md-4{
     padding-bottom: 40px;
 }